{
    admin off
    persist_config off
    auto_https off

    log {
        format json
    }
}

:{$PORT:80} {
    log {
        format json
    }

    # Security headers
    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Strict-Transport-Security "max-age=31536000"
        Permissions-Policy "accelerometer=(), autoplay=(), camera=(), display-capture=(), geolocation=(), gyroscope=(), magnetometer=(), payment=(), publickey-credentials-get=(), serial=(), usb=(), microphone=(self)"
        Content-Security-Policy "default-src 'self'; base-uri 'self'; form-action 'self'; frame-ancestors 'none'; object-src 'none'; manifest-src 'self'; worker-src 'self' blob:; script-src 'self' https://telegram.org; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' data: https://fonts.gstatic.com; img-src 'self' data: blob: https:; media-src 'self' blob: https:; connect-src 'self' https: wss:; frame-src 'self' https://telegram.org https://*.telegram.org https://*.t.me https://*.ton.org https://*.tonapi.io https://*.tonconnect.org; upgrade-insecure-requests"
        -Server
    }

    handle /api/* {
		reverse_proxy {$PRIVATE_CONVEX_CLOUD_ORIGIN}
	}

    handle /.well-known/* {
		reverse_proxy {$PRIVATE_CONVEX_SITE_ORIGIN}
	}

	handle {
        respond /health 200
		root * /app/dist
        # Static files
        file_server {
            hide .git
            hide .env*
        }

        # Compression
        encode gzip zstd

        # SPA routing (всё, что не /api/*)
        #
        # Ебать как важно не проксировать internal-api. Там приватное апи не для интернета
        try_files {path} {path}.html {path}/index.html /index.html
	}

    # 404 errors
    handle_errors {
        rewrite * /{http.error.status_code}.html
        file_server
    }
}
